@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap");
body {
  font-family: "PT Sans Narrow", sans-serif;
  background-color: #292b2e;
  margin: 0;
  color: #a3a3a3;
  line-height: 1.6; }

p {
  font-size: 1.2em;
  text-align: center;
  padding: 10px; }

nav {
  height: 40px;
  width: 100%;
  background-color: #5d4d7a;
  color: #a3a3a3; }
  nav ul {
    padding: 0;
    margin: 0; }
  nav li {
    display: inline;
    float: left; }
  nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #a3a3a3;
    text-decoration: none; }
  nav li:hover {
    background-color: #392f4b; }
  nav a#openup {
    display: none; }

.navigation {
  margin: 0;
  padding: 0;
  background: url("../img/banner.jpg") no-repeat center/cover;
  width: 100%;
  height: 30vh;
  position: relative;
  overflow-y: hidden; }
  .navigation .container {
    margin-top: 25px; }

@media screen and (max-width: 580px) {
  .hide-on-small {
    display: none; }
  .navigation {
    height: 50vh; }
    .navigation .container {
      margin-top: 15vh; }
    .navigation h1 {
      font-size: 3rem; }
  nav {
    height: auto;
    border-bottom: 0; }
    nav ul {
      display: none;
      height: auto; }
    nav li {
      width: 100%;
      float: left;
      position: relative; }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
      background: #5d4d7a;
      border-bottom: 1px solid #5d4d7a; }
    nav a:hover {
      background: #392f4b; }
    nav a#openup:after {
      content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      /* IE 9 */
      -webkit-transform: rotate(-90deg);
      /* Safari and Chrome */
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 5px;
      top: 20px; }
    nav a#openup {
      display: block;
      background-color: #5d4d7a;
      width: 100%;
      position: relative; } }

.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.cf {
  zoom: 1; }

/* For IE 6/7 (trigger hasLayout) */
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem; }
