@font-face {
    font-family: 'fira_sans_compressedregular';
    src: url('./fonts/ffirasanscompressed-regular-webfont.eot');
    src: url('./fonts/ffirasanscompressed-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('./fonts/firasanscompressed-regular-webfont.woff2') format('woff2'),
        url('./fonts/ffirasanscompressed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

body {
    font-family: 'fira_sans_compressedregular', sans-serif;
    background-color: $grey;
    color: $white;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.2em;
    text-align: center;
    padding: 10px;
}