@import url("../fonts/FiraSans-Regular.ttf");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

body {
  font-family: "Fira Sans Regular", sans-serif;
  background-color: $grey;
  color: $white;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
}
